.sidebar{
    left: 0;
    bottom: 0;
    background-color: white;
    position: fixed;
    top: 55px;
    width: 72px;
    z-index: 200;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: #cecccc;
}
.sidebar img{
    height: 24px;
}
.sidebar div{
    font-family: roboto,arial;
    font-size: 10px;
}